<div class="container">
	<footer class="footer">
		<small>
			Simulador de Sistema Bancário
			- Desenvolvido por: <a href="http://www.linkedin.com/in/emersonff">Emerson Freitas</a>
		</small>
	</footer>
</div>